<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello Vue!</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
<div id="app">
  <div :class="{invalid: isInvalid}">
    {{message}}
  </div>
  <ol>
    <li v-for='(item,index) in items'>
      {{item}} {{index}}
    </li>
  </ol>
  <button v-bind:disabled='isInvalid'> Submit!</button>
  <input type="text" v-model='message'>
</div>
<script>
  new Vue({
    el: '#app',
    data: {
      message: 'Hello Vue!',
      items: ['yellow', 'red' ,'blue']
    },
    computed: {
      isInvalid: function () {
        return this.message.length <= 3
      }
    }
  })
</script>

<style>
  .invalid {
    color:red;
  }
</style>

</body>
</html>
